:root{
	--main-color:#B1B2FF;
	--secondary-color:#AAC4FF;
	--soft-color:#D2DAFF;
	--white:#EEF1FF;
}
*{
    transition: 0.5s ease-in-out;
}

/* center Here */
.rowsContainer{
    height: 100vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
}
.row,.artistCard,.artistCardRow,.leaderboards{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    position: relative;
    min-height: 100vh;
    padding: 50px 10px 20px 10px;
    width: 100%;
    overflow: auto;
    scroll-snap-align: center;
}
.newArtistsRow,.trendingArtistsRow{
    position: relative;
    flex-direction: column;
    letter-spacing: 2px;
    background: linear-gradient(#888afb,#D2DAFF);
}
.newArtistsRow{
    background-image: url("/images/logos/banners/hero_banner2.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
.trendingArtistsRow{
    background-image: url("/images/logos/banners/hero_banner3.jpg");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}
.row h2{
    position: absolute;
    top: 45px;
    font-size: 2em;
    padding: 1em;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 40px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3),0 0 10px rgba(0, 0, 0, 0.2);
}
.row .whiteSpace{
    position: absolute;
    width: 100%;
    height: 50%;
    background: #fefefe;
    bottom: 0;
    left: 0;
}
.artistRow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    width: 1000px;
    padding-bottom: 30px;
}

.artistCard{
    position: relative;
    width: 200px;
    min-height: 300px;
    background-color: #EEF1FF;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    z-index: 5;
}
.artistCard:hover{
    transform: scale(1.2);
}
.artistCard .profileBox{
    z-index: 2;
    margin-top: 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
}
.artistCard .profileBox img{
    width: 100%;
    object-fit: cover;
}
.artistCard .profileBox .active{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #54ff9e;
    border: 3px solid  rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    top: 95px;
    right: 25%;
}

.artistCard .profileBox .idle{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff954;
    border: 3px solid  rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    top: 95px;
    right: 25%;
}

.artistCard .profileBox .sleeping{
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ff5454;
    border: 3px solid  rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    top: 95px;
    right: 25%;
}
.artistCard h5{
    margin: 10px 0;
    letter-spacing: 1px;
}
.artistCardRow{
    margin: 5px 0;
    width: 85%;
    font-size: 0.7em;
    justify-content: space-between;
    letter-spacing: 1px;
    background: #B1B2FF40;
    padding: 5px;
    border-radius: 10px;
}
.artistCardRow span{
    background-color: #EEF1FF;
    padding: 3px;
    border-radius: 10px;
}
.artistCard button{
    margin-top: 10px;
    width: 85%;
    background: linear-gradient(-45deg,#B1B2FF,#D2DAFF) ;
    font-weight: bold;
    color: #ffffff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.artistCard button:hover{
    background: linear-gradient(-90deg,#888afb,#abbafe) ;
    border-radius: 10px;
}
.coverBox{
    position: absolute;
    width: 100%;
    height: 42%;
    overflow: hidden;
    z-index: 1;
}
.coverBox img{
    width: 100%;
    object-fit: cover;
}

.leaderboards{
    gap: 40px;
    width: 100%;
    flex-direction: column;
    margin-bottom: 30px;
}
.dataTable{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width:70%;
}
.dataTableRow{
    display: flex;
    justify-content: center;
}
.dataTableRow:hover{
    background-color: #AAC4FF90;
    transform: scale(1.1);
    cursor: zoom-in;
}
.dataTableColumn{
    padding: 5px 10px;
    border: 0.5px solid #EEF1FF;
    text-align: center;
}
.dataHeader{
    background: linear-gradient(-45deg,#888afb,#abbafe) ;
    border-radius: 10px;
    color: #ffffff;
}
.dataTableColumn1,.dataTableColumn3{
    width: 17.5%;
}
.dataTableColumn2{
    width: 40%;
}
.dataTableColumn4{
    width: 25%;
}
.leaderboards_header{
    position: absolute;
    top: 70px;
}
@media only screen and (max-width: 700px) {
    .row .whiteSpace{
        width: 275%;
    }
    .leaderboards_header{
        transform: scale(0.7);
        top: 10px;
    }
    .dataTable{
        width:95%;
    }
    .leaderboards_header button{
        height: 45px;
    }
}