@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	transition: 0.5s ease-in-out;
}

body{
	position: relative;
	min-height: 100vh;
}

nav{
	display: flex;
	position: fixed;
	background: white;
	top: 10px;
	right: 0;
	padding: 10px 20px;
	border-radius: 10px 0 0 10px;
	border-top: 1px solid rgba(0,0,0,0.3);
	box-shadow: -3px 3px 8px rgba(0,0,0,0.3);
	z-index: 1000;
}

.searchBar{
	display: flex;
	margin: 0 20px 0 0;
}
.searchBar input{
	width: 200px;
	height: 30px;
	border: 0;
	box-shadow: inset 2px 2px 5px rgba(0,0,0,0.1),inset -0.5px -0.5px 5px rgba(0,0,0,0.2);
	border-radius: 10px 0 0 10px;
	padding: 0 10px;
}
.searchBar input:focus{
	outline: 0;
}
.searchBar button{
	border: 0;
	border-radius: 0 10px 10px 0;
	box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.3),inset -0.5px -0.5px 5px rgba(0,0,0,0.3);
	height: 30px;
	width: 30px;
}
.searchBar img{
	transform: translateX(-2px);
	opacity: 50%;
	width: 15px;
}
.searchBar button:hover{
	box-shadow: inset 2px 2px 5px rgba(63, 63, 63, 0.3),inset 0px 0px 1px rgba(0,0,0,0.3);
}
.searchBar button:hover img{
	width: 13px;
}

.links{
	display: flex;
	flex-direction: row;
}
.links a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 30px;
}
.links img{
	position: absolute;
	width: 20px;
	opacity: 50%;;
}
.links .title{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(0px) translateX(-10px);
	border: 2px solid rgba(0,0,0,0.3);
	padding: 2px;
	color: rgb(65, 65, 65);
	letter-spacing: 0;
	border-radius: 10px;
	background: white;
	font-weight: 200;
	visibility: 0;
	opacity: 0%;
	box-shadow: inset -3px -3px 10px rgba(0,0,0,0.2);
}
.links a:hover .title{
	visibility: visible;
	opacity: 100%;
	transform: translateY(40px) translateX(0);
	padding: 5px 8px;
	letter-spacing: 2px;
}
.links .title::before{
	content: '';
	position: absolute;
	width: 15px;
	height: 15px;
	border: 2px solid rgba(0,0,0,0.3);
	background: white;
	top: -10px;
	transform: rotate(45deg);
	border-bottom: 0;
	border-right: 0;
}
.links .indicator{
	position: absolute;
	width: 30px;
	height: 30px;
	background: rgba(0, 0, 0, 0.2);
	outline: 5px solid rgba(0, 0, 0, 0.2);
	transform: translateX(0);
	border-radius: 10px;
	z-index: -2;
	left: 50%;
	overflow: 0;
}
.links .active img{
	filter: invert(1);
}
.links a:nth-child(1).active ~ .indicator{
	transform: translateX(calc(60px * 0));
}
.links a:nth-child(2).active ~ .indicator{
	transform: translateX(calc(60px * 1));
}
.links a:nth-child(3).active ~ .indicator{
	transform: translateX(calc(60px * 2));
}
.links a:nth-child(4).active ~ .indicator{
	transform: translateX(calc(60px * 3));
}

.profile{
	position: relative;
	display: flex;
	margin-left: 10px;
	border-radius: 50%;
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}
.profile img{
	opacity: 70%;
	width: 30px;
}
.activity{
	width: 10px;
	height: 10px;
	position: absolute;
	bottom: -1px;
	right: -1px;
	background: greenyellow;
	border-radius: 50%;
	border: 2px solid rgba(0,0,0,0.3);
}

.profileDetailBox{
	position: absolute;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	top: 135%;
	right: -65%;
	background: white;
	box-shadow: -5px 5px 5px rgba(0,0,0,0.2);
	width: 200px;
	transform: scale(0) rotateX(180deg) rotateY(90deg);
	transform-origin: top right;
	border-radius: 0 0 0 20px;
	font-size: 0.8em;
}
.profileDetailBox h4{
	letter-spacing: 1px;
}
.profile:hover .profileDetailBox{
	transform: scale(1) rotateX(0) rotateY(0);
}
.profileDetailBox .userRow{
	position: relative;
	width: 100%;
	display: flex;
	padding: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
.profileDetailBox .userRow img{
	width: 30px;
	margin: 0 10px;
	transform: translateY(3px);
}
.userRowDetails p{
	width: 90%;
	white-space: nowrap;
  	overflow: hidden;
	text-overflow: ellipsis;
}
.profileDetailBox .icon{
	width: 20px;
	height: 20px;
	opacity: 50%;
	margin: 0 15px 0 5px;
}
.profileDetailBox .personalRow{
	width: 100%;
	padding: 5px 5px 5px 15px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
}
.options{
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	padding: 10px 5px;
	border-radius: 20px;
}
.options:hover{
	background: linear-gradient(45deg,rgba(0,0,0,0.2),rgba(255,255,255,0.4));
	cursor: pointer;
}
.profileDetailBox .personalRow .options .number{
	position: absolute;
	padding: 5px;
	right: 10px;
	background-color: rgb(181, 181, 181);
	border-radius: 50%;
}
.profileDetailBoxRow{
	position: relative;
	height: 50px;
}
.accountSetting{
	width: 100%;
	padding: 5px 5px 15px 15px;
}

/* loginSignup */
.loginSignup,.loginSignupBox,.loginSignupRow,.exitLS{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 100%;
}
.loginSignup{
	display: none;
	position: absolute;
	background: rgba(128, 128, 128, 0.5);
	width: 100vw;
	height: 100vh;
	z-index: 2000;
}

.loginSignup .exitLS{
	position: absolute;
	width: 30px;
	height: 30px;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	top: 20px;
	right: 20px;
	animation: spin 5s linear infinite;
}
@keyframes spin {
	0%,6%,100%{
		transform: rotate(0deg);
	}
	5%{
		transform: rotate(360deg);
	}
}
.exitLS::before,.exitLS::after{
	content: '';
	background: white;
	position: absolute;
	width: 5px;
	height: 40px;
	border-radius: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	transform: rotate(45deg);
}
.exitLS::before{
	transform: rotate(-45deg);
}
.loginSignupBox{
	flex-direction: column;
	position: absolute;
	width: 400px;
	height: 400px;
	background: white;
	background-image: url("images/logos/ripped_grid.png");
	background-position: top;
	background-size: contain;
	border-radius: 20px;
	overflow: hidden;
	/* animation: enter 0.2s; */
	/* animation-timing-function: ease-in-out;  */
}
/* @keyframes enter {
	0%{
		top: 0%;
		right: 0%;
		transform: rotate(30deg);
	}
	50%{
		top: 10%;
		right: 20%;
		transform: rotate(20deg);
	}
	100%{
		top: 20%;
		right: 30%;
		transform: rotate(10deg);
	}
} */
.loginSignupBox h2{
	font-size: xx-large;
	font-weight: bolder;
	color: rgba(0, 0, 0, 0.5);
	letter-spacing: 2px;
	margin-bottom: 50px;
}
.loginSignupBox h2 span{
	padding: 2px 5px 5px 5px;
	margin-right: 5px;
	border: 2px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px 15px 10px 15px;
}
.loginSignupBox .loginSignupRow{
	width: 200px;
	margin: 5px;
	padding:0;
}

.loginSignup .loginSignupBox .loginSignupRow .textBox{
	outline: none;
	width: 200px;
	height: 30px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 0 5px 0 5px;
}
.loginSignup .loginSignupBox .loginSignupRow .password{
	border-radius: 10px 0 0 10px;
	border-right: 0;
	letter-spacing: 1px;
}
.loginSignup .loginSignupBox .loginSignupRow button{
	width: 30px;
	height: 30px;
	border-radius: 0 10px 10px 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}
.loginSignup .loginSignupBox .loginSignupRow button img{
	width: 17px;
	height: 17px;
	opacity: 50%;
	animation: watching 10s linear infinite;
}
@keyframes watching {
	0%,3%,100%{
		height: 17px;
	}
	1%{
		height: 1px;
	}
}
.loginSignup .loginSignupBox .loginSignupRow input[type=submit]{
	width: 100px;
	height: 30px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10px;
	font-size: 0.8em;
	letter-spacing: 2px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	color: grey;
	cursor: pointer;
}
.loginSignupBox .errorMessage{
	display: none;
	color: crimson;
	font-size: 0.75em;
}
.loginSignupRow a{
	margin-top: 20px;
	color: rebeccapurple;
	font-size: 0.8em;
	text-decoration: none;
}
.loginSignupRow a:hover{
	color: rgb(46, 22, 70);
	text-shadow: 0 3px 3px rgba(46, 22, 70,0.5);
}
.accounts img{
	width: 30px;
	height: 30px;
	opacity: 50%;
	padding: 5px;
	background: grey;
	margin: 10px;
	border-radius: 50%;
}

.hero{
	position: absolute;
	top: 0;
	width: 100vw;
	height: 80vh;
	background-image: url("images/logos/banners/hero_banner.png");
	background-position: center;
	background-size: cover;
}
