@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	transition: 0.5s ease-in-out;
}

body{
	position: relative;
	min-height: 100vh;
}
:root{
	--main-color:#B1B2FF;
	--secondary-color:#AAC4FF;
	--soft-color:#D2DAFF;
	--white:#EEF1FF;
}

nav{
	position: fixed;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0;
	background: linear-gradient(45deg,rgba(250, 235, 215, 0.8),rgba(250, 235, 215, 0.6),var(--main-color));
	padding: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
nav img{
	width: 15px;
	opacity: 45%;
}
nav .searchBox{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
	float: left;
}
nav .searchBox input[type=text],button{
	height: 35px;
	border: 0;
	padding: 5px;
}
nav .searchBox button{
	z-index: 1001;
	width: 35px;
	background:linear-gradient(-45deg,var(--white),var(--soft-color));	
	border-radius: 50%;
	}
nav .searchBox input[type=text]{
	z-index: 1000;
	width: 0px;
	background-color: var(--white);
	transform: translateX(-20px);
	padding:0;
	border-radius: 0 30px 30px 0;
}
nav .searchBox:hover input[type=text]{
	width: 200px;
	padding: 0 25px;
	transform: translateX(-20px);
}
nav input[type=text]:focus{
	width: 200px;
	padding: 0 25px;
	transform: translateX(-20px);
}
nav .searchBox:hover button img{
	transform: rotate(-360deg);
}
nav .searchBox input[type=text]:focus{
	outline: 10px var(--main-color);
}

nav a{
	text-decoration: none;
	margin: 0 10px;
	color: rgba(32, 32, 49, 0.7);
	padding: 5px 10px;
	border-radius: 20px;
	font-weight: bolder;
}
nav .active{
	padding: 5px 10px;
	background:linear-gradient(-45deg,#eef1ff76,#eef1ff6a);	
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),inset 5px 3px 5px #eef1ff76;
}
nav a:hover{
	padding: 5px 10px;
	background:linear-gradient(-45deg,#eef1ff76,#eef1ff6a);	
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1),inset 5px 3px 5px #eef1ff76;
}
.links{
	display: flex;
	justify-content: center;
}
.hamburger{
	display: none;
	z-index: 1003;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
	background-color: #ffffff95;
	border-radius: 5px;
}
.hamburger img{
	width: 25px;
}
#hamburger{
	display: none;
	z-index: 1005;
	width: 30px;
	height: 30px;
	opacity: 0;
}


/* loginSignup */
.loginSignup,.loginSignupBox,.loginSignupRow,.exitLS{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 100%;
}
.loginSignup{
	display: none;
	position: fixed;
	background: rgba(128, 128, 128, 0.5);
	width: 100vw;
	height: 100vh;
	z-index: 2000;
}

.loginSignup .exitLS{
	position: absolute;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.2);
}
.loginSignupBox{
	flex-direction: column;
	position: absolute;
	width: 400px;
	height: 400px;
	background: white;
	background-image: url("images/logos/banners/hero_banner2.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 20px;
	overflow: hidden;
	/* animation: enter 0.2s; */
	/* animation-timing-function: ease-in-out;  */
}
/* @keyframes enter {
	0%{
		top: 0%;
		right: 0%;
		transform: rotate(30deg);
	}
	50%{
		top: 10%;
		right: 20%;
		transform: rotate(20deg);
	}
	100%{
		top: 20%;
		right: 30%;
		transform: rotate(10deg);
	}
} */
.loginSignupBox h2{
	font-size: xx-large;
	font-weight: bolder;
	color: rgba(255, 255, 255);
	letter-spacing: 2px;
	margin-bottom: 50px;
	background: rgba(52, 28, 123, 0.3);
	padding: 10px 20px;
	border-radius: 10px;
}
.loginSignupBox .loginSignupRow{
	width: 200px;
	margin: 5px;
	padding:0;
}

.loginSignup .loginSignupBox .loginSignupRow .textBox{
	outline: none;
	width: 200px;
	height: 30px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	padding: 0 5px 0 5px;
}
.loginSignup .loginSignupBox .loginSignupRow .password{
	border-radius: 10px 0 0 10px;
	border-right: 0;
	letter-spacing: 1px;
}
.loginSignup .loginSignupBox .loginSignupRow button{
	width: 30px;
	height: 30px;
	border-radius: 0 10px 10px 0;
	border: 1px solid rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
}
.loginSignup .loginSignupBox .loginSignupRow button img{
	width: 17px;
	height: 17px;
	opacity: 50%;
	animation: watching 10s linear infinite;
}
@keyframes watching {
	0%,3%,100%{
		height: 17px;
	}
	1%{
		height: 1px;
	}
}
.loginSignup .loginSignupBox .loginSignupRow input[type=submit]{
	width: 100px;
	height: 30px;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10px;
	font-size: 0.8em;
	letter-spacing: 2px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	color: grey;
	cursor: pointer;
}
.loginSignupBox .errorMessage{
	display: none;
	color: crimson;
	font-size: 0.75em;
}
.loginSignupRow a{
	margin-top: 20px;
	color: rebeccapurple;
	font-size: 0.8em;
	text-decoration: none;
}
.loginSignupRow a:hover{
	color: rgb(46, 22, 70);
	text-shadow: 0 3px 3px rgba(46, 22, 70,0.5);
}
.accounts img{
	width: 30px;
	height: 30px;
	opacity: 50%;
	padding: 5px;
	background: grey;
	margin: 10px;
	border-radius: 50%;
}

.hero{
	position: relative;
	top: 0;
	width: 100vw;
	height: 40vw;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #EEF1FF;
}
.hero img{
	position: absolute;
	bottom: -20%;
	width: 100vw;
	z-index: -1;
}
.hero h1{
	display: flex;
	width: 80%;
	background: rgba(66, 9, 58, 0.3);
	padding: 20px;
	font-size: 4vw;
	font-weight: bolder;
	text-align: center;
	justify-content: center;
	user-select: none;
}
.hero button{
	position: absolute;
	bottom: 10%;
}

.airplane{
	position: absolute;
	width: 10%;
	transform: translate(0%, 500%);
	transition: 0s;
}

/* gallery */
.gallery{
	width: 100vw;
	padding: 40px;
}
.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	vertical-align: middle;
	width: 100%;
	pointer-events: none;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
	
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }

.imageBox{
	position: relative;
	margin: 10px 10px 20px 10px;
	position: relative;
	border-radius: 20px;
	overflow: hidden;
	animation: popUp 2s;
}
@keyframes popUp {
	0%{
		margin-bottom: 30px;
		opacity: 0%;
	}
	100%{
		margin-bottom: 10px;
		opacity: 100%;
	}
}
.imageBox p{
	font-size: 1vw;
	height: 50%;
	text-overflow: clip;
	padding-bottom: 10px;
}
.imageBox h3{
	font-size: 1.1vw;
	margin-bottom: 10px;
}
.imageBox img{
	border-radius: 20px;
}
.imageDetails{
	width: 100%;
	max-height: 50%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 7.5px 10px;
	color: antiquewhite;
	bottom: -100%;
	opacity: 0;
}
.imageBox:hover .imageDetails{
	bottom: 0;
	opacity: 100%;
}
.imageBox:hover{
	transform: scale(1.05);
	z-index: 69;
	box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.201),-15px -15px 20px rgba(0, 0, 0, 0.201);
}

.viewOptionBox{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin: 20px 0 -10px 0;
}
.viewOptionBox button{
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	padding: 10px;
	margin: 0 10px;
	width: 150px;
	border-radius: 20px;
	font-size: 1.0em;
	font-weight: bold;
	color: #1d1d1dab;
	border: 1px solid var(--main-color);
	filter: drop-shadow(0 3px 10px rgba(32, 49, 120, 0.233));
}
.viewOptionBox button:hover{
	background: linear-gradient(-45deg,#AAC4FF,#809ee4) ;
	font-weight: bold;
	color: #EEF1FF;
	border: 1px solid var(--main-color);
}
.viewOptionBox .active{
	background: linear-gradient(-45deg,#AAC4FF,#809ee4) ;
	font-weight: bold;
	color: #EEF1FF;
	border: 1px solid var(--main-color);
}
.load{
	background-color: #809ee4;
}

@media only screen and (max-width: 750px) {
	nav{
		display: flex;
		justify-content: flex-end;
		width: 100%;
		border-radius: 0;
		padding: 20px 0;
	}
	.searchBox{
		position: absolute;
		left: 10px;
	}
	nav .searchBox input{
		width: 200px;
		padding: 0 25px;
		transform: translateX(-20px);
	}
}
@media only screen and (max-width: 700px) {
	nav{
		padding: 10px;
		justify-content: flex-end;
	}
	.searchBox{
		position: absolute;
		top: 7.5px;
		left: 10px;
	}
	.links{
		position: absolute;
		background-color: #aec8ffb7;
		padding: 10px 10px;
		width: 100%;
		flex-direction: column;
		align-items: center;
		transform-origin: top ;
		transform: translateX(10px) translateY(0px) scaleY(0);
	}
	.links a{
		margin: 10px;
		width: 100%;
		text-align: center;
	}
	.hamburger{
		display: flex;
	}
	#hamburger{
		display: flex;
		position: absolute;
	}
	#hamburger:checked ~ .links{
		transform: translateX(10px) translateY(160px) scaleY(1);
	}
	.imageBox{
		transform: scale(0.9);
	}
	.hero{
		top: 50px;
		height: 50vh;
	}
	.hero img{
		width: 200vw;
		top: 0;
	}
	.viewOptionBox{
		display: flex;
		justify-content: center;
		padding: 10px;
		margin: 70px 0 -40px 0;
	}
	.viewOptionBox button{
		margin: 0 5px;
	}
}